<h2>Подборка товаров</h2>

{% for p in products %}
<div>
    <img
        src="{{ p.image }}"
        width="250"
    />
    <h3>{{ p.name }}</h3>
    <p>{{ p.price }} ₽</p>
</div>
<div style="margin-top: 20px; margin-bottom: 20px">
    <a
        style="
            padding: 16px;
            background-color: rgb(231, 54, 54);
            color: white;
            text-decoration: none;
            border-radius: 5px;
        "
        href="{{ unsubscribe_url }}"
    >
        Отписаться от рассылки
    </a>
</div>
{% endfor %}
