<!doctype html>
<html>
    <body>
        <h1>Новинки ARS City</h1>

        {% for product in products %}

        <div style="margin-bottom: 30px">
            <img
                src="{{ product.image }}"
                width="300"
            />

            <h2>{{ product.name }}</h2>

            <p>Цена: {{ product.price }} ₽</p>
        </div>

        <div style="margin-top: 20px; margin-bottom: 30px; min-width: 250px">
            <a
                style="
                    padding: 16px;
                    background-color: rgb(79, 79, 187);
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                "
                href="{{catalog_url}}"
                >Перейти на страницу каталога
            </a>
        </div>
        <div style="margin-top: 30px; margin-bottom: 20px; min-width: 250px">
            <a
                style="
                    padding: 16px;
                    background-color: rgb(231, 54, 54);
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                "
                href="{{ unsubscribe_url }}"
            >
                Отписаться от рассылки
            </a>
        </div>

        {% endfor %}
    </body>
</html>
